*.out
exp/exp
intro_tasks/circle
intro_tasks/row
intro_tasks/helloworld
mpiput
.vscode/
sort/reverse
sort/best
sort/best.txt
sort/*.txt
sort/gen_mas
sort/worst
lab1/paral
lab1/posl.txt
lab1/para.txt
lab1/3.txt
lab1/4.txt
lab1/*txt
lab1/posl
lab1/timesend
*.cmake
Makefile
*.make
*.marks
lab2/int
*lab2link.txt
*.minternal
*.bin
*CMakeFiles
*CMakeCache.txt
